div {
  width: 800px;
  height: 500px;
}

table {
  text-align: center;
  width: 100%;
  font-weight: 400;
  border-collapse: collapse;
  table-layout: fixed;
}

TD,
TH {
  font-weight: 400;
  padding: 10px 20px;
  border: 1px solid #cfcfcf;
  background-color: #efefef;
}

.table-span {
  color: red;
}

.container {
  width: 800px;
}

.current-day {
    background-color: lightblue;
}

.table-span {
    padding-left: 10px;
}

.table-span--up {
    color: green;
    padding-left: 10px;
}

.to-up {
    background-color: lightgreen;
}

.to-down {
    background-color: lightcoral;
    padding-left: 10px;
}